.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.name {
  margin-right: 15px;

  height: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

@media (max-width: 475px) {
  .name-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
  }
  .name {
    margin: -1px;
  }

  .logoGrov {
    width: 120px;
  }
}
